# Django Secret Key
SECRET_KEY = "CHANGE-ME"

# 0 False, 1 True
DEBUG = "1"

# Comma Separated Values
ALLOWED_HOSTS = "127.0.0.1, localhost, djangoapp"

# CSRF Trusted Origins
CSRF_TRUSTED_ORIGINS = "http://127.0.0.1, http://localhost"
